@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Security.Claims
@using AspNet.Security.OAuth.Discord
@using Finder.Web.Repositories
@using Finder.Web.Repositories.Web
@inject IUnitOfWork UnitOfWork
@{
    bool isBotOwner = User.HasClaim("IsBotOwner", "true");
    bool darkMode = ViewData["DarkMode"]!.ToString() == "true";
    bool devMode = false;
    var userId = "";
    var avatar = "";
    if (User.Identity.IsAuthenticated) {
        userId = User.Claims.First(x => x.Type == ClaimTypes.NameIdentifier).Value;
        avatar = User.Claims.First(x => x.Type == DiscordAuthenticationConstants.Claims.AvatarHash).Value;
        devMode = await UnitOfWork.UserSettings.GetUserSettingAsync(ulong.Parse(User.Claims.First(x => x.Type == ClaimTypes.NameIdentifier).Value), "DevMode") == "true";
    }
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>@ViewData["Title"] - Finder.Web</title>
        <link rel="shortcut icon" href="favicon.ico"/>
        @if (darkMode) {
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-dark.min.css"/>
        } else {
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
        }
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg @(darkMode ? "navbar-dark bg-dark" : "navbar-light bg-light")")>
                <div class="container-fluid">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        <img src="https://camo.githubusercontent.com/92372c60b1f299502bec84d966f522af4570c5c2a9b3e962d5b96bd5a310f6a2/68747470733a2f2f63646e2e646973636f72646170702e636f6d2f617661746172732f3933393932323934383136333234343038322f66656661643362343336666234303738376339353866393233306135663739322e706e67" height="45" alt="Finder Logo" loading="lazy"/>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                            </li>
                        </ul>
                        <div class="d-flex">
                            <li class="nav-item dropdown list-unstyled">
                                @if (User.Identity.IsAuthenticated) {
                                    <a class="nav-item nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="https://cdn.discordapp.com/avatars/@userId/@(avatar).png" class="rounded-circle" height="45" alt="Profile" loading="lazy"/>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <a class="dropdown-item disabled" asp-controller="" asp-action="">Profile</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="UserSettings" asp-action="Index">Settings</a>
                                        </li>
                                        @if (User.HasClaim("IsBotOwner", "true") &&
                                             await UnitOfWork.UserSettings.GetUserSettingAsync(ulong.Parse(User.Claims.First(x => x.Type == ClaimTypes.NameIdentifier).Value), "DevMode") == "true") {
                                            <li>
                                                <a class="dropdown-item" asp-controller="Dev" asp-action="Token">Tokens (DEV)</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" asp-controller="Dev" asp-action="Claims">Claims (DEV)</a>
                                            </li>
                                        }
                                        <li>
                                            <a class="dropdown-item" asp-controller="Authentication" asp-action="LogOut">Logout</a>
                                        </li>
                                    </ul>
                                } else {
                                    <a class="nav-link" asp-controller="Authentication" asp-action="Login">Login</a>
                                }
                            </li>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3 pt-3">
                @RenderBody()
            </main>
        </div>
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2022 - FinderDiscord - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>