@model Finder.Web.DataTransferObject.UserInfo

<h1>IsAuthenticated: @Model.IsAuthenticated</h1>
@if (Model.IsAuthenticated) {
    <img src=@($"https://cdn.discordapp.com/avatars/{Model.UserId}/{Model.AvatarHash}.png") alt=""/>
    <h2>UserId: @Model.UserId</h2>
    <h2>Username: @Model.Username</h2>
    <h3>Claims:
        @foreach (var (key, value) in Model.Claims) {
            <p>@key: @value</p>
        }
    </h3>
}
