@using Finder.Database.Repositories.Web
@using System.Security.Claims
@inject UserSettingsRepository UserSettingsRepository
@{
    ViewData["Title"] = "Home Page";
    if (User.Identity.IsAuthenticated) {
        ViewData["DarkMode"] = await UserSettingsRepository.GetUserSettingAsync(ulong.Parse(User.Claims.First(x => x.Type == ClaimTypes.NameIdentifier).Value), "DarkMode") ?? "false";
    } else {
        ViewData["DarkMode"] = "false";
    }
}

<div class="text-center mt-5">
    <img src="https://camo.githubusercontent.com/92372c60b1f299502bec84d966f522af4570c5c2a9b3e962d5b96bd5a310f6a2/68747470733a2f2f63646e2e646973636f72646170702e636f6d2f617661746172732f3933393932323934383136333234343038322f66656661643362343336666234303738376339353866393233306135663739322e706e67" alt="Finder Image"/>
    <h1 class="display-4">Finder</h1>
</div>