@using Finder.Web.Repositories
@using System.Security.Claims
@inject IUnitOfWork UnitOfWork
@{
    ViewData["Title"] = "Privacy Policy";
    if (User.Identity.IsAuthenticated) {
        ViewData["DarkMode"] = await UnitOfWork.UserSettings.GetUserSettingAsync(ulong.Parse(User.Claims.First(x => x.Type == ClaimTypes.NameIdentifier).Value), "DarkMode") ?? "false";
    } else {
        ViewData["DarkMode"] = "false";
    }
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>